<ngx-graph class="chart-container" [center$]="center$" layout="d3ForceDirected" [zoomToFit$]="zoomToFit$"
  [animations]="false" [update$]="update$" [nodes]="nodes" [links]="links">

  <ng-template #nodeTemplate let-node>
    <svg:foreignObject [attr.height]="60" [attr.width]="60"
      [attr.transform]="'scale('+node.data.value+','+node.data.value+')'">
      <app-node-template (dblClick)="onNodeOpen(node)" [node]="node"></app-node-template>
    </svg:foreignObject>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:path class="line" [ngClass]="link.meta?.cssClass" [attr.marker-end]="link.meta?.markerEnd"
      [attr.stroke-width]="link.meta?.width" [attr.stroke]="link.meta?.color||'red'">
    </svg:path>
  </ng-template>


</ngx-graph>
