div.template {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div.node {
        height: 50%;
        width: 100%;
        .circle {
            margin-left: 25%;
            border-radius: 50%;
            border: solid 2px red;
            background-color: white;
            height: calc(100% - 4px);
            width: calc(50% - 4px);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        .icon {
            color: red;
            &.img {
                overflow: hidden;
                height: 100%;
                width: 100%;
                background-size: cover;
            }
        }
    }
    div.title {
        height: 25%;
        text-align: center;
        white-space: nowrap;
        overflow: visible;
        margin: auto;
    }
}