<div class="template" (dblclick)="onDblclick()">
	<div class="node">
		<div class="circle" [style.borderColor]="node.meta?.color">
			<ng-container *ngIf="node.meta?.icon.font">
				<div
					class="icon"
					[style.color]="node.meta.icon.font.color || node.meta.color "
					[style.fontSize]="node.meta.icon.font.frontSize"
					[style.fontFamily]="node.meta.icon.font.fontFamily"
				>
					{{node.meta.icon.name}}
				</div>
			</ng-container>
			<ng-container *ngIf="node.meta?.icon.image">
				<div class="icon" *ngIf="node.meta.icon.font.name">
					<img [src]="node.meta.icon.img.src" [height]="node.meta.icon.image.height" [height]="node.meta.icon.image.width" alt="" />
				</div>
			</ng-container>
		</div>
		<div
			class="title"
			[style.color]="node.meta?.label?.color"
			[style.fontSize]="node.meta?.label?.fontSize"
			[style.fontFamily]="node.meta?.label?.fontFamily"
			[style.transform]="'scale('+node.data.value/1+','+node.data.value/1+')'"
		>
			{{node.label}}
		</div>
	</div>
</div>
